<style type="text/css">
<!--
.STYLE1 {color: #000000}
-->
</style>
<section class="thirteen columns">
    <h1>About Me </h1>
    <article>
      <header></header>
      <p align="justify">I am currently a lecture (equivalent to assistant professor in US university systems) in the University of Sydney. 
          I obtained my PhD degree under the supervision of Prof. <span class="STYLE1"><a href="http://www4.comp.polyu.edu.hk/~cslzhang/">Lei Zhang</a></span>  from The Hong Kong Polytechnic University in 2017.
          After graduation, I worked as a postdoctoral researcher at the Computer Vision Laboratory (CVL), ETH Zurich, under the supervision of with Prof. <span class="STYLE1"><a href="https://ee.ethz.ch/the-department/faculty/professors/person-detail.OTAyMzM=.TGlzdC80MTEsMTA1ODA0MjU5.html">Luc Van Gool</a></span>. 
          At CVL, I worked closely with Dr. <span class="STYLE1"><a href="http://people.ee.ethz.ch/~timofter/">Radu Timofte</a></span>.</p>
                <p><br /> </p>
        <p align="justify" style="color:red">  <strong>I am looking for self-motivated graduate students in the University of Sydney. Please send me your CV if you are interested.</strong> </p>
    
    </article>
    
    
   
</section>
