<style type="text/css">
<!--
.STYLE1 {color: #000000}
-->
</style>
<section class="thirteen columns">
    <h1>About Me </h1>
    <article>
      <header></header>
      <p align="justify">I am currently working with Prof.<span class="STYLE1"><a href="https://ee.ethz.ch/the-department/faculty/professors/person-detail.OTAyMzM=.TGlzdC80MTEsMTA1ODA0MjU5.html">Luc Van Gool</a></span> as a postdoctoral researcher at the Computer Vision Laboratory, ETH Zurich, Switzerland. Before this, I obtained my PhD degree under the supervision of Prof.<span class="STYLE1"><a href="http://www4.comp.polyu.edu.hk/~cslzhang/">Lei Zhang</a></span>  from The Hong Kong Polytechnic University on 2017.</p>
    </article>
</section>
