<section class="thirteen columns">
  <h1>Academic Service </h1>
    <article>
      <header>
        <p><strong>Workshop and Tutorial Co-Organizer</strong></p>
        <p>From Image Restoration to Enhancement and Beyond tutorial (FIRE 2019). </p>
        <p>New Trends in Image Restoration and Enhancement workshop (NTIRE workshop 2018-2020).  </p>
        <p>Advanced Image Manipulation workshop (AIM workshop 2019, 2020).</p>       
        <p><br /> </p>
        <p><strong>Journal Reviewer</strong></p>
        <p>International Journal on Computer Vision  </p>
        <p>SIAM Journal on Imaging Sciences </p>
        <p>IEEE Transactions on Pattern Analysis and Machine Intelligence  </p>
        <p>IEEE Transactions on Neural Networks and Learning  Systems </p>
        <p>IEEE Transactions on Computational Imaging</p>
        <p>IEEE Transactions on Image Processing</p>
        <p>IEEE Transactions on Circuits and Systems for Video Technology</p>
        <p>IEEE Transactions on Multimedia</p>
        <p>Pattern Recognition</p>
        <p><br /> </p>
        <strong>Conference Reviewer</strong><br />
   
        <p>NeurIPS, CVPR, ICCV, ECCV, SIGKDD, AAAI, IJCAI, ACCV     </p>
          <article></article>
</p>
      </header>
    </article>
</section>
