<section class="thirteen columns">
  <h1>Collaborators</h1>
  <article>
    <header></header>
    <ul>
      <li>
        <p><a href="http://people.ee.ethz.ch/~timofter/">Radu Timofte</a>,&nbsp    <a href="https://cszn.github.io/">Kai Zhang</a>,&nbsp     Yawei Li</div></p>
      </li>
    </ul>
  </article>
  <article></article>

</div>
</div>
<a href="https://clustrmaps.com/site/1b9vz" title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=-Vv48YcJUas6ERurSrd85h9w8dGVqNQ_I1FLD59Do-I&cl=ffffff"></a>
</body>
</html>
</section>
