<style type="text/css">
<!--
.STYLE13 {	color: #FF0000;
	font-style: italic;
}
.STYLE15 {color: #FF0000; font-style: italic; font-weight: bold; }
a:link {
	color: #0099FF;
}
a:visited {
	color: #0099FF;
}
-->
</style>
<section class="thirteen columns">
    <article>
      <header><h1>
        <section class="thirteen columns">
          <h1>
            <article>
              <header></header>
            </article>
          Selected Publications (<a href="https://scholar.google.com/citations?user=-kSTt40AAAAJ&hl=zh-CN">Google Scholar</a>) </h1>
        </section></h1>
  </header>
    </article>
    <section class="thirteen columns">
      <article>
        <header></header>
	<p align="justify"><strong>Preprints</strong></p>
        <ol>
          <li><div align="justify"><div align="justify">
            <div align="justify">
                  <div align="justify">Yunxuan Wei<strong>*</strong>, <strong>Shuhang Gu*</strong>, Yawei Li, and Longcun Jin.  
			  Unsupervised Real-world Image Super Resolution via Domain Distance Aware Training. [<a href="https://arxiv.org/abs/2004.01178">Arxiv</a>] (<strong>* Equal Contribution</strong>.)</div>
            </div>
              </div>
            </div>
          </li>
          <li>
            <div align="justify">
              <div align="justify">
                <div align="justify">Yawei Li, <strong>Shuhang Gu</strong>, Kai Zhang, Luc Van Gool and Radu Timofte. DHP: Differentiable Meta Pruning via HyperNetworks.  [<a href="https://arxiv.org/abs/2003.13683">Arxiv</a>]</div>
              </div>
            </div>
          </li>     
        </ol>
        <p align="justify">&nbsp;</p>
        <p align="justify"><strong>Journal Papers</strong></p>
        <ol>
	  <li><div align="justify"><div align="justify">
            <div align="justify">
                  <div align="justify">Mu Li, Wangmeng Zuo, <strong>Shuhang Gu</strong>, Jane You and David Zhang.  
			  Learning Content-Weighted Deep Image Compression. <strong>IEEE</strong> <strong>T-PAMI</strong>, 2020. (<strong>* To appear</strong>.)</div>
            </div>
              </div>
            </div>
          </li>
          <li><div align="justify"><div align="justify">
            <div align="justify">
                  <div align="justify"><strong>Shuhang Gu</strong>, Shi Guo, Wangmeng Zuo, Yunjin Chen, Radu Timofte, Luc Van Gool and  Lei Zhang.  
			  Learned Dynamic Guidance for Depth Image Reconstruction. <strong>IEEE</strong> <strong>T-PAMI</strong>, 2019. [PDF and code are coming soon.]</div>
            </div>
              </div>
            </div>
          </li>
          <li>
            <div align="justify">
              <div align="justify">
                <div align="justify">Jianrui Cai, <strong>Shuhang Gu</strong> and Lei Zhang. 
			Learning a Deep Single Image Contrast Enhancer from Multi-Exposure Images. <strong>IEEE</strong> <strong>T-IP</strong>, 2018. [<a href="http://www4.comp.polyu.edu.hk/~cslzhang/paper/SICE.pdf">PDF</a>] [<a href="https://github.com/csjcai/SICE">Code</a>]</div>
              </div>
            </div>
          </li>    
          <li>
            <div align="justify">
              <div align="justify">
                <div align="justify">, Jianbo Jiao, Qingxiong Yang, Shengfeng He, <strong>Shuhang Gu</strong> and Lei Zhang. 
			Joint Image Denoising and Disparity Estimation via Stereo Structure PCA and Noise-tolerant Cost. <strong>IJCV</strong>, 2018.</div>
              </div>
            </div>
          </li>  		
		
          <li>
            <div align="justify">
              <div align="justify">
                <div align="justify"><strong>Shuhang Gu</strong>, Qi Xie, Deyu Meng, Wangmeng Zuo, Xiangchu Feng and Lei Zhang. 
			Weighted Nuclear Norm Minimization and Its Applications to Low Level Vision. <strong>IJCV</strong>, 2017. 
			[<a href="http://www4.comp.polyu.edu.hk/~cslzhang/paper/WNNM_IJCV.pdf">PDF</a>] [<a href="http://www4.comp.polyu.edu.hk/~cslzhang/code/WNNM_code.zip">Code Denoise</a>] [<a href="http://www4.comp.polyu.edu.hk/~cslzhang/code/WNNM_RPCA_code.zip">Code RPCA</a>] [<a href="http://www4.comp.polyu.edu.hk/~cslzhang/code/WNNM_MC_code.zip">Code MC</a>]</div>
              </div>
            </div>
          </li>  
		
	    <li>
            <div align="justify">
              <div align="justify">
                <div align="justify">Yuan Xie, <strong>Shuhang Gu</strong>, Yan Liu, Wangmeng Zuo, Wensheng Zhang and Lei Zhang. 
			Weighted Schatten p-Norm Minimization for Image Denoising and Background Subtraction. <strong>IEEE</strong> <strong>T-IP</strong>, 2017. [<a href="http://www4.comp.polyu.edu.hk/~cslzhang/paper/SICE.pdf">PDF</a>] [<a href="https://github.com/csjcai/SICE">Code</a>]</div>
              </div>
            </div>
          </li>  
		
	    <li>
            <div align="justify">
              <div align="justify">
                <div align="justify">Wamgmeng Zuo, Dongwei Ren, David Zhang, <strong>Shuhang Gu</strong> and Lei Zhang. 
			Learning Iteration-wise Generalized Shrinkage-Thresholding Operators for Blind Deconvolution. <strong>IEEE</strong> <strong>T-IP</strong>, 2016. </div>
              </div>
            </div>
          </li>  
	
        </ol>
        <p align="justify">&nbsp;</p>
        <p><strong>Conference Papers </strong></p>
        <ol>
          <li>
            <div align="justify">
              <div align="justify">Jin Xiao<strong>*</strong>, <strong>Shuhang Gu*</strong> and Lei Zhang. Multi-domain Learning for Accurate and Few-shot Color Constancy. IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2020.[<a href="http://www4.comp.polyu.edu.hk/~cslzhang/paper/MDLCC.pdf">PDF</a>]<strong>(*The first two authors contributed equally to this work.)</strong></div>
            </div>
          </li>	
	  <li>
            <div align="justify">
              <div align="justify">Yawei Li, <strong>Shuhang Gu</strong>, Luc Van Gool and Radu Timofte. 
		      Group Sparsity: The Hinge Between Filter Pruning and Decomposition for Network Compression. IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2020.</div>
            </div>
          </li>		
	 <li>
            <div align="justify">
              <div align="justify"><strong>Shuhang Gu</strong>, Yawei Li, Luc Van Gool and Radu Timofte. 
		      Self-Guided Network for Fast Image Denoising. IEEE International Conference on Computer Vision (<strong>ICCV</strong>), 2019. [<a href="[https://github.com/ShuhangGu/SGN_ICCV2019">Code</a>]</div>
            </div>
          </li>
	  <li>
            <div align="justify">
              <div align="justify"><strong>Shuhang Gu</strong>, Wen Li, Luc Van Gool and Radu Timofte. 
		      Fast Image Restoration with Multi-bin Trainable Linear Units. IEEE International Conference on Computer Vision (<strong>ICCV</strong>), 2019. [<a href="[https://github.com/ShuhangGu/MTLU_ICCV2019">Code</a>]</div>
            </div>
          </li>
	  <li>
            <div align="justify">
              <div align="justify">Yawei Li<strong>*</strong>, <strong>Shuhang Gu*</strong>, Luc Van Gool and Radu Timofte. 
		      Learning Filter Basis for Neural Network Compression. IEEE International Conference on Computer Vision (<strong>ICCV</strong>), 2019. (<strong>* Equal Contribution</strong>.)</div>
            </div>
          </li>		
		
		
        </ol>
        <p>&nbsp;</p>
      </article>
    </section>
      
