<style type="text/css">
<!--
.STYLE13 {	color: #FF0000;
	font-style: italic;
}
.STYLE15 {color: #FF0000; font-style: italic; font-weight: bold; }
a:link {
	color: #0099FF;
}
a:visited {
	color: #0099FF;
}
-->
</style>
<section class="thirteen columns">
    <article>
      <header><h1>
        <section class="thirteen columns">
          <h1>
            <article>
              <header></header>
            </article>
          Students Supervised </h1>
        </section></h1>
  </header>
    </article>
    <section class="thirteen columns">
      <article>
        <header></header>
	<p align="justify"><strong>Master Thesis Projects</strong></p>
        <ol>
	  <li>
            <div align="justify">
              <div align="justify">
                <div align="justify"> Xiaotang Du, 2019.</div>
              </div>
            </div>
          </li> 
	  <li>
            <div align="justify">
              <div align="justify">
                <div align="justify"> Manuel Fritsche, 2019.</div>
              </div>
            </div>
          </li> 
		
	    <li>
            <div align="justify">
              <div align="justify">
                <div align="justify"> Kangning Liu, 2019, now PhD student at NYU.</div>
              </div>
            </div>
          </li>  
		    <li>
            <div align="justify">
              <div align="justify">
                <div align="justify"> Dario Fuoli, 2019, now PhD student at ETH.</div>
              </div>
            </div>
          </li> 
        </ol>

        <p align="justify">&nbsp;</p>
      
        <ol>     
	</ol>	
        <p>&nbsp;</p>
      </article>
    </section>
      
