<style type="text/css">
<!--
.STYLE12 {font-weight: bold; color: #FF0000;}
.STYLE4 {	font-family: "Courier New", Courier, monospace;
	color: #0000FF;
	font-size: x-large;
}
.STYLE14 {
	font-family: "Courier New", Courier, monospace;
	color: #0000FF;
	font-size: x-large;
	font-weight: bold;
	font-style: italic;
}
-->
</style>
<section class="thirteen columns">
    <h1 class="STYLE4"><span class="STYLE14">Updates!</span>    </h1>
    <address>
    <p><em>[2020-02-27]
      Two papers are accepted to CVPR 2020.</em></p>
    </address>
    <address>
    <p><span><em> [2018-02-19]
      Two papers are accepted to CVPR 2018. </em> </span>
    </p>
    </address>
    <h1>
      <article></article> </section>
    </h1>
